<!-- components/home/home.component.html -->

<div class="container">
    <div class="text-center">
        <h1>Welcome to Murph'z Blogging Service</h1>
        <div class="text-center">
          <p>You have reached Murph'z Blogging Service. Please log in if have an account and sign up if you do not have an account. </p>
          <p>you like you can just view the blogs below.</p>
        </div>

            <a routerLink="login" class="btn btn-default loginBtn"><span class="fa fa-user"></span> Login</a>
            <a routerLink="user/new" class="btn btn-default signupBtn"><span class="fa fa-user"></span> Signup</a>
        <br />
        <br />
    </div>
</div>
