<!-- components/login/login.html-->

<div class="container">

  <div class="col-sm-6 col-sm-offset-3">

  <h1><span class="fa fa-sign-in"></span>Login</h1>

  <form id="frmUserLogin" action="POST" method="POST" (ngSubmit)="logUserIn()">
      <input type="hidden" name="_method" value="POST">

      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" class="form-control" name="email" [(ngModel)]="loginUser.email" value="{{login.email}}">
      </div>
      <div class="form-group">
          <label for="name">Password</label>
          <input type="password" name="password" id="password" class="form-control" [(ngModel)]="loginUser.password"value="{{login.password}}">
      </div>

      <div class="form-group">
          <button type="submit" name="login" id="" class="btn btn-warning btn-lg">Login</button>
      </div>

  </form>

  <hr />

  <p>Need an account? <a href="/user/new">Signup</a></p>
  <p>Or go <a href="/">home</a>.</p>

  </div>

</div>
